// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Layouts
@import "layouts/desktop.scss";
@import "layouts/tablet.scss";
@import "layouts/smartphone.scss";

h1,h2,h3 {
  font-family: "Oswald";
}

body {
  font-family: "Quattrocento";
  background: white;
  color: #444444;
}

.container {
  background: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

nav {
  background: $green-light;
  color: white;
  a {
    color: white;
    display: block;
    padding: 0 10px;
    &:hover, &.active {
      text-decoration: none;
      color: white;
      background: $green-dark;
    }
  }
}

header {
	.search {
		.form-search {
			border: 1px solid $grey-bg;
			border-radius: 5px;
			padding: 5px 10px;
		}
		.form-submit {
			position: relative;
			top: 2px;
			border: 1px solid $green-light;
			padding: 5px 30px;
			background: $green-light;
			color: white;
			text-transform: uppercase;
			font-family: Oswald;
			border-radius: 5px;
		}
	}
}

.main {
	h1 {
		margin-left: 10px;
	}
	a {
	  color: $green-dark;
	  text-decoration: none;
	  &:hover {
	    color: $green-light;
	    text-decoration: none;
	  }
	}
	.main-content {
		a {
			border-bottom: 1px solid $green-dark;
			&:hover {
				color: $green-dark;
				border-bottom: none;
			}
		}
		padding: 30px 0;
		.main-content-row {
			margin-bottom: 20px;
			.item {
				h2 {
					font-size: 1.4em;
				}
		  	}
		}
	}
	aside {
	  &.productcatalog {
	    background: $green-dark;
	    padding-left: 0;
	    padding-right: 0;
	    ul {
	      margin: 0;
	      padding: 0;
	      margin-top: 1em;
	      margin-bottom: 1em;
	      li {
	        margin: 0;
	        list-style: none;
	        font-size: 1.23em;
	        padding: 1em 20px;
	        a {
	          color: white;
	          font-family: "Oswald";
	          text-transform: uppercase;
	          text-decoration: none;
	          display: block;
	          &:hover {
	            text-decoration: none;
	          }
	        }
	        &:hover {
	          background: $green-light;
	        }
	      }
	    }
	  }
	  &.uit {
	    background-color: white;
	    h3 {
	      text-align: center;
	      color: $green-dark;
	      &.cn-offscreen {
	        text-align: left;
	      }
	    }
	    .push-event {
		    h2 {
		      a {
		        color: $green-light;
		        font-size: 0.8em;
		        line-height: 1.3;
		        &:hover {
				  color: $green-dark;
		          text-decoration: none;
		        }
		      }
		    }
		    .cn-event-label {
		      font-weight: bold;
		      display: block;
		    }
	    }
	    .cultuurnet-control-footer {
	      clear: both;
	      padding-top: 30px;
	      padding-bottom: 30px;
	      font-family: Oswald;
	      a {
	        color: $green-light;      
	        font-size: 1.2em;
	        &:hover {
	          color: $green-dark;
	          text-decoration: none;
	        }
	      }
	    }
	  }
	}
}


footer {
  background: $green-light !important;  
  color: white;
  padding: 2em 0;
  a {
  	color: white;
  	&:hover {
		color: $green-dark;
		text-decoration: none;
  	}
  }
  ul.links {
    margin: 0;
    padding: 0;
    li {
      background: url(../images/sprite.png) no-repeat;
      list-style: none;
      height: 25px;
      line-height: 25px;
      margin-bottom: 10px;
      &.opening {
	      background-position: 0 -250px;
      }
      &.contact {
	      background-position: 0 -275px;
      }
      &.pol {
        background-position: 0 0;
      }
      &.bib {
        background-position: 0 -25px;
      }
      &.fb {
        background-position: 0 -50px;
      }
      &.tw {
        background-position: 0 -75px;
      }
      a {
        margin-left: 30px;
      }
    }
  }
}