/* Desktop and tablet */
@media all and (min-width: 768px) {

  .container {
    .inner {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  header {
    position: relative;
    z-index: 1000;
    height: 190px;
    .logo {
      padding-left: 0;
      padding-right: 0;
      img {
        width: 100%;
        height: 190px;
      }
    }
    .visual {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
    }
    .search {
    	padding-top: 50px;
    	text-align: center;
    	h2 {
    		font-family: "Quattrocento";
    		color: white;
    		text-shadow: 2px 2px black;
    	}
    	.form-search {
    		border: 1px solid $grey-bg;
    		border-radius: 5px;
    		width: 40%;
    		padding: 5px 10px;
    	}
    	.form-submit {
    		position: relative;
    		top: 2px;
    		margin-left: 20px;
    		border: 1px solid $green-light;
    		padding: 5px 30px;
    		background: $green-light;
    		color: white;
    		text-transform: uppercase;
    		font-family: Oswald;
    		border-radius: 5px;
    	}
    }
  }
  
  nav {
    height: 50px;
    line-height: 50px;
    font-family: "Oswald";
    font-size: 1.23em;
    text-transform: uppercase;
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        margin-right: 6em;
        padding: 0;
        display: inline-block;
        list-style: none;
      }
    }
  }


	aside {
	  &.uit {
	    .push-event {
		    .push-event-image {
			  float: left;
		      margin-right: 20px;
		    }
		    .push-event-calendarsummary, .push-event-location {
		      margin-left: 120px;
		    }
	    }
	  }
	}


}